

.banner {
  background-image: url(img/header-bg.svg);
  background-repeat: no-repeat;
  background-position: right 46px;
  background-size: contain;
  height: 844px;
}

.banner-aboutme {
  background-color: white;
  background-repeat: no-repeat;
  background-position: right 46px;
  background-size: contain;
  height: 844px;
}

.banner_content_wrapper {
  width: 64%;
  min-height: 302px;
}



.btn  {
  color: #396DF2;
  border-color: #396DF2;
  background-color: transparent;
}

.card-title,
.modal-title {
  width: 496px;
  height: 46px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #091E42;
}

.badge{
  background-color: #EBEBFF !important;
  color: #6070FF;
  ;
}